<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index.html" class="logo logo-light ">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo-dark-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user">
            <a href="pages-profile.html">
                <img src="assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
                <span class="leftbar-user-name mt-2">Dominic Keller</span>
            </a>
        </div>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Welcome to Dashboard</li>
            <li class="side-nav-item">
                <a href="index.html" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Overview </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="analytics.html" class="side-nav-link">
                    <i class="uil-graph-bar"></i>
                    <span> Analytics </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="attributions.html" class="side-nav-link">
                    <i class="uil uil-tachometer-fast"></i>
                    <span class="badge bg-danger text-white float-end">New</span>
                    <span> Attributions </span>
                </a>
            </li>
            <li class="side-nav-title">BAL Tools</li>
            <li class="side-nav-item">
                <a href="insights.html" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Insights Overview </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="create-insights.html" class="side-nav-link">
                    <i class="uil-file-plus-alt"></i>
                    <span> Create Insight </span>
                </a>
            </li>
            <li class="side-nav-title">Hive Tools</li>
            <li class="side-nav-item">
                <a href="hive.html" class="side-nav-link">
                    <i class="uil-chart-line"></i>
                    <span class="badge bg-danger text-white float-end">New</span>
                    <span> Hive Campaigns</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="create-campaign.html" class="side-nav-link">
                    <i class="uil-bag-alt"></i>
                    <span class="badge bg-danger text-white float-end">New</span>
                    <span> Create Campaign </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="create-campaign.html" class="side-nav-link">
                    <i class="uil-calendar-alt"></i>
                    <span class="badge bg-danger text-white float-end">New</span>
                    <span> Campaign Timeline </span>
                </a>
            </li>

            

            <!-- end Help Box -->


        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->